
db/logic_util_heursitic.dat
db/prev_cmp_projetoFinal.qmsg
db/projetoFinal.(0).cnf.cdb
db/projetoFinal.(0).cnf.hdb
db/projetoFinal.asm.qmsg
db/projetoFinal.asm.rdb
db/projetoFinal.asm_labs.ddb
db/projetoFinal.cbx.xml
db/projetoFinal.cmp.bpm
db/projetoFinal.cmp.cdb
db/projetoFinal.cmp.hdb
db/projetoFinal.cmp.idb
db/projetoFinal.cmp.kpt
db/projetoFinal.cmp.logdb
db/projetoFinal.cmp.rdb
db/projetoFinal.cmp_merge.kpt
db/projetoFinal.db_info
db/projetoFinal.eda.qmsg
db/projetoFinal.fit.qmsg
db/projetoFinal.hier_info
db/projetoFinal.hif
db/projetoFinal.ipinfo
db/projetoFinal.lpc.html
db/projetoFinal.lpc.rdb
db/projetoFinal.lpc.txt
db/projetoFinal.map.ammdb
db/projetoFinal.map.bpm
db/projetoFinal.map.cdb
db/projetoFinal.map.hdb
db/projetoFinal.map.kpt
db/projetoFinal.map.logdb
db/projetoFinal.map.qmsg
db/projetoFinal.map.rdb
db/projetoFinal.map_bb.cdb
db/projetoFinal.map_bb.hdb
db/projetoFinal.map_bb.logdb
db/projetoFinal.pre_map.hdb
db/projetoFinal.pti_db_list.ddb
db/projetoFinal.quiproj.19956.rdr.flock
db/projetoFinal.root_partition.map.reg_db.cdb
db/projetoFinal.routing.rdb
db/projetoFinal.rtlv.hdb
db/projetoFinal.rtlv_sg.cdb
db/projetoFinal.rtlv_sg_swap.cdb
db/projetoFinal.sgdiff.cdb
db/projetoFinal.sgdiff.hdb
db/projetoFinal.sld_design_entry.sci
db/projetoFinal.sld_design_entry_dsc.sci
db/projetoFinal.smart_action.txt
db/projetoFinal.sta.qmsg
db/projetoFinal.sta.rdb
db/projetoFinal.sta_cmp.6_slow_1200mv_85c.tdb
db/projetoFinal.stingray_io_sim_cache.99um_ff_1200mv_0c_fast.hsd
db/projetoFinal.stingray_io_sim_cache.99um_tt_1200mv_0c_slow.hsd
db/projetoFinal.stingray_io_sim_cache.99um_tt_1200mv_85c_slow.hsd
db/projetoFinal.syn_hier_info
db/projetoFinal.tis_db_list.ddb
db/projetoFinal.tiscmp.fast_1200mv_0c.ddb
db/projetoFinal.tiscmp.slow_1200mv_0c.ddb
db/projetoFinal.tiscmp.slow_1200mv_85c.ddb
db/projetoFinal.vpr.ammdb
incremental_db/compiled_partitions/projetoFinal.db_info
incremental_db/compiled_partitions/projetoFinal.root_partition.cmp.ammdb
incremental_db/compiled_partitions/projetoFinal.root_partition.cmp.cdb
incremental_db/compiled_partitions/projetoFinal.root_partition.cmp.dfp
incremental_db/compiled_partitions/projetoFinal.root_partition.cmp.hdb
incremental_db/compiled_partitions/projetoFinal.root_partition.cmp.kpt
incremental_db/compiled_partitions/projetoFinal.root_partition.cmp.logdb
incremental_db/compiled_partitions/projetoFinal.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/projetoFinal.root_partition.map.cdb
incremental_db/compiled_partitions/projetoFinal.root_partition.map.dpi
incremental_db/compiled_partitions/projetoFinal.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/projetoFinal.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/projetoFinal.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/projetoFinal.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/projetoFinal.root_partition.map.hdb
incremental_db/compiled_partitions/projetoFinal.root_partition.map.kpt
incremental_db/README
projetoFinal.asm.rpt
projetoFinal.done
projetoFinal.eda.rpt
projetoFinal.fit.rpt
projetoFinal.fit.smsg
projetoFinal.fit.summary
projetoFinal.flow.rpt
projetoFinal.jdi
projetoFinal.map.rpt
projetoFinal.map.summary
projetoFinal.pin
projetoFinal.qsf
projetoFinal.sof
projetoFinal.sta.rpt
projetoFinal.sta.summary
simulation/modelsim/msim_transcript
simulation/modelsim/projetoFinal.sft
simulation/modelsim/projetoFinal.vho
simulation/modelsim/projetoFinal_6_1200mv_0c_slow.vho
simulation/modelsim/projetoFinal_6_1200mv_0c_vhd_slow.sdo
simulation/modelsim/projetoFinal_6_1200mv_85c_slow.vho
simulation/modelsim/projetoFinal_6_1200mv_85c_vhd_slow.sdo
simulation/modelsim/projetoFinal_min_1200mv_0c_fast.vho
simulation/modelsim/projetoFinal_min_1200mv_0c_vhd_fast.sdo
simulation/modelsim/projetoFinal_modelsim.xrf
simulation/modelsim/projetoFinal_vhd.sdo
msim_transcript
*.rpt
*.psm
*.dat
*.dbs
*.prw
*.bak
projeto-final.cr.mti
projetoFinal_nativelink_simulation.rpt
transcript
simulation/modelsim/projetoFinal_run_msim_rtl_vhdl.do
work/_info
simulation/modelsim/projetoFinal_run_msim_rtl_vhdl.do
work/_vmake
vsim.wlf
*.rpt
simulation/modelsim/projetoFinal_run_msim_rtl_vhdl.do
simulation/modelsim/projetoFinal_run_msim_rtl_vhdl.do
